<h4>LipiGnani - The Kannada OCR</h4><!-- <nav class= "navbar navbar-default" > -->
  <div class = "container-fluid" >

<div class = "collapse navbar-collapse" >
  <!-- <div class="toolbar" role="banner">
    <span>LipiGnani - The Kannada OCR</span>
     </div> -->

  <ul class="nav navbar-nav navbar-left" >
    <li class= "dropdown" appDropdown>
      <a href= '#' class = "dropdown-toggle" role = "button">File<span class="caret"></span></a>
      <ul class= "dropdown-menu">
<input #fileUpload type="file" (click)="fileUpload.value = null"(change)="importFile($event)" style="display:none"
accept="image/*">
        <li><a href = "#" id="butGetImage" (click)="fileUpload.click('image')">Open Image</a></li>

        <input #folderUpload  type="file" name="fileList" (click)="folderUpload.value = null" webkitdirectory multiple (change) ="importFile($event)" style="display:none"/>
        <li><a href = "#" id="getFolder" (click)="folderUpload.click()" >Open Directory</a></li>
        <li><a href = "#">Save</a></li>
        <li><a href = "#">Export As</a></li>
        <li><a href = "#">Export Setting</a></li>
        <li><a href = "#">Close</a></li>
        <li><a href = "#">Exit</a></li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-left" >
    <li class= "dropdown" appDropdown>
      <a href= '#' class = "dropdown-toggle" role = "button">Run<span class="caret"></span></a>
      <ul class= "dropdown-menu">
        <li><a href = "#">Language</a></li>
        <li><a href = "#">Scanning Resolution</a></li>
        <li><a href = "#">Rotate Image</a></li>
        <li><a href = "#">Run OCR</a></li>
        <li><a href = "#">Word Correct</a></li>
        <li><a href = "#">Detect paragraphs</a></li>
        <li><a href = "#">PrineLine/word Boundaries</a></li>
        <li><a href = "#">Refactor Filenames</a></li>
        <li><a href = "#">Create Git Repo</a></li>
        <li><a href = "#">Find and Replace</a></li>
        <li><a href = "#">OCR Setting</a></li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-left" >
    <li class= "dropdown" appDropdown>
      <a href= '#' class = "dropdown-toggle" role = "button">View<span class="caret"></span></a>
      <ul class= "dropdown-menu">
        <li class="dropdown-item dropdown-submenu p-0">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item w-100">Image-Text Layout</a>
            <ul  class="dropdown-menu mr-2 rounded-0  white border-0 z-depth-1 r-100">
                <li class="dropdown-item p-0">
                    <a href="#" class="dropdown-item w-100" (click)="asVertical()">Left-Right</a>
                  </li>
                  <li class="dropdown-item p-0">
                    <a href="#" class="dropdown-item w-100"(click)="asHorizontal()">Top-Bottom</a>
                  </li>
          </ul>
        </li>
        <li><a href = "#">Text Editor</a></li>
        <li><a href = "#">Selection Mode</a></li>
        <li><a href = "#">Show File Link</a></li>
        <li><a href = "#">Show Line Number</a></li>

      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-left" >
    <li class= "dropdown" >
      <a href= '#' class = "dropdown-toggle" role = "button">Layout<span class="caret"></span></a>
      <ul class= "dropdown-menu">
        <li><a href = "#">Single column</a></li>
        <li><a href = "#">Two column</a></li>
        <li><a href = "#">IEEE Layout</a></li>
        <li><a href = "#">Save as New layout</a></li>
        <li><a href = "#">Clear Text Book Selection</a></li>

      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-left" >
    <li class= "dropdown" appDropdown>
      <a href= '#' class = "dropdown-toggle" role = "button">Window<span class="caret"></span></a>
      <ul class= "dropdown-menu">
        <li><a href = "#" ><button style="border: none;" [disabled]="previousImages" (click)="FirstImage()" >First page</button></a></li>
        <li><a href = "#" ><button  style="border: none;" [disabled]="previousImages"(click)="previousImage()">previous Page</button></a></li>
        <li><a href = "#" ><button  style="border: none;" [disabled]="nextImages" (click)="NextImage()">Next page</button></a></li>
        <li><a href = "#" ><button  style="border: none;" [disabled]="nextImages" (click)="lastImage()">Last page</button></a></li>
        <li><a href = "#" ><button  style="border: none;" (click)="openModalDialog()">Goto page</button></a></li>
        <li><a href = "#" (click)=" zoomInFun()">Zoom in</a></li>
        <li><a href = "#"  (click)=" zoomOutFun()">Zoom out</a></li>
        <li><a href = "#" (click)="fitwidth()">Fit width</a></li>
        <li><a href = "#" (click)=" fitheight()">Fit Height</a></li>
        <li><a href = "#"  (click)=" orginalsize()">zoom 100%</a></li>
        <li><a href = "#" (click)="scrollUp()" >Scroll Up</a></li>
        <li><a href = "#"(click)="scrollDown()">Scroll Down</a></li>
        <li><a href = "#"(click)="scrollLeft()">Scroll Left</a></li>
        <li><a href = "#"(click)="scrollRight()">Scroll Right</a></li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-left" >
    <li class= "dropdown" appDropdown>
      <a href= '#' class = "dropdown-toggle" role = "button">Help<span class="caret"></span></a>
      <ul class= "dropdown-menu">

        <li><a href = "#" ><button  style="border: none;" (click)="openModalHelp()">About</button></a></li>
        <li><a href = "#">Help Topics</a></li>

      </ul>
    </li>
  </ul>

</div>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
          <h4 class="modal-title">Please select the page that you want to be displayed:</h4>
      </div>

      <div >
        <p>help is here!!!</p>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- </nav> -->


