<!-- 

  <div class="footer"  style="width: 100%;">
   
 <button mat-icon-button color="black"id="firstImg" data-toggle="tooltip" title="First-Page" [disabled]="previousImages" (click)="firstImage()"><img src="assets/images/first_page.svg" type="button" width="30px" height="30px"></button>
  <button mat-icon-button color="black"id="previousImg" data-toggle="tooltip" title="Previous-Page" [disabled]="previousImages" (click)="previousImage()"><img src="assets/images/next.svg" class="previous" type="button" width="30px" height="30px"></button>
  <button mat-icon-button color="black"id="nextImg" data-toggle="tooltip" title="Next-Page" [disabled]="nextImages" (click)="NextImage()"><img src="assets/images/next.svg" type="button" width="30px" height="30px"></button>
  <button  mat-icon-button color="black"id="lastImg" data-toggle="tooltip" title="Last-Page" [disabled]="nextImages" (click)="lastImage()"><img src="assets/images/last_page.svg" type="button" width="30px" height="30px"></button>
  <button mat-icon-button color="black"data-toggle="tooltip" title="Select Page" id="SelectPage" type="button" (click)="openModalDialog()">SelectPage</button>
  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  Rotate:<input id="angle" class="angleclass" style="width: 30px;" #box (keyup.enter)="onEnter(box.value)" value="{{angle}}">

  <div class="btn-group">
    <img src="assets/images/arrowup.png" (click)="rotateImage()" title="rotate" class="btn-group" type="button"
      style="height:10px;width: 10px;"><br>
    <img src="assets/images/arrowdown.png" (click)="rotateImageanti()" class="btn-group" type="button"
      style="height:10px;width: 10px;">
  </div>

  <button  mat-button color="black"(click)="loadXMLDoc()" title="Run-OCR" width="30px" height="30px">Run-OCR</button>


  <button mat-icon-button color="black" data-toggle="tooltip" title="Zoom-In" id="butZoomIn" (click)="zoomInFun()"><span><img src="assets/images/zoom_in.svg" height="30px" width="30px"></span></button>
  <button mat-icon-button color="black" data-toggle="tooltip" title="Zoom-Out" id="butZoomOut" (click)="zoomOutFun()"><span><img src="assets/images/zoom_out.svg" height="30px" width="30px"></span></button>
  <button  mat-icon-button color="black" data-toggle="tooltip" title="Fit-width" id="fitWidth" (click)="fitwidth()"><img src="assets/images/fitwidth (1).png" height="19px" width="30px"></button>
  <button mat-icon-button color="black" data-toggle="tooltip" title="Fit-height" id="fitHeigth" (click)="fitheight()"><img src="assets/images/fitheight (1).png" height="19px" width="30px"></button>
  <button  mat-icon-button color="black" data-toggle="tooltip" title="100%-zoom" id="100zoom" (click)="orginalsize()"><img src="assets/images/fitScrre (1).png" height="19px" width="30px"></button>
  zoom:<input id="zoom" style="width: 30px;" #bo (keyup.enter)="onZoom(bo.value)" value="{{percentage}}">%

  </div> -->

  <mat-toolbar class="footer" color="primary">
    <mat-toolbar-row >
      <span class="gap"></span>
    <button  mat-icon-button color="black"id="firstImg" data-toggle="tooltip" title="First-Page" [disabled]="previousImages" (click)="firstImage()"><img src="assets/images/first_page.svg" type="button" width="30px" height="30px"></button>
    <button mat-icon-button color="black"id="previousImg" data-toggle="tooltip" title="Previous-Page" [disabled]="previousImages" (click)="previousImage()"><img src="assets/images/next.svg" class="previous" type="button" width="30px" height="30px"></button>
    <button mat-icon-button color="black"id="nextImg" data-toggle="tooltip" title="Next-Page" [disabled]="nextImages" (click)="NextImage()"><img src="assets/images/next.svg" type="button" width="30px" height="30px"></button>
    <button  mat-icon-button color="black"id="lastImg" data-toggle="tooltip" title="Last-Page" [disabled]="nextImages" (click)="lastImage()"><img src="assets/images/last_page.svg" type="button" width="30px" height="30px"></button>
    <button mat-fab color="black"data-toggle="tooltip" title="Select Page" id="SelectPage" type="button" (click)="openModalDialog()"><h5>select</h5></button>
    <div class="backdrop" [ngStyle]="{'display':display}"></div>
 
    <h5>rotate :</h5><input id="angle" class="input" style="width: 30px;" #box (keyup.enter)="onEnter(box.value)" value="{{angle}}">
  
    <div class="btn-group">
      <img mat-icon-button src="assets/images/arrowup.svg" (click)="rotateImage()" title="Increase Skew" class="btn-group" type="button"
        style="height:25px;width: 25px;"><br>
      <img mat-icon-button src="assets/images/arrowdown.svg" (click)="rotateImageanti()" title="drecrease Skew" class="btn-group" type="button"
        style="height:25px;width: 25px;  transform: rotate(180deg)">
    </div>
  
    <button  mat-fab (click)="loadXMLDoc()" class="runOcr" title="Run-OCR" width="30px" height="30px">Run-OCR</button>

    <span class="filler"></span>
    <button mat-icon-button color="black" data-toggle="tooltip" title="Zoom-In" id="butZoomIn" (click)="zoomInFun()"><span><img src="assets/images/zoom_in.svg" height="30px" width="30px"></span></button>
    <button mat-icon-button color="black" data-toggle="tooltip" title="Zoom-Out" id="butZoomOut" (click)="zoomOutFun()"><span><img src="assets/images/zoom_out.svg" height="30px" width="30px"></span></button>
    <button  mat-icon-button color="black" data-toggle="tooltip" title="Fit-width" id="fitWidth" (click)="fitwidth()"><img src="assets/images/fitwidth (1).png" height="30px" width="30px"></button>
    <button mat-icon-button color="black" data-toggle="tooltip" title="Fit-height" id="fitHeigth" (click)="fitheight()"><img src="assets/images/fitheight (1).png" height="30px" width="30px"></button>
    <button  mat-icon-button color="black" data-toggle="tooltip" title="100%-zoom" id="100zoom" (click)="orginalsize()"><img src="assets/images/fitScrre (1).png" height="30px" width="30px"></button>
    <h5>zoom :</h5>:<input id="zoom" class="input" style="width: 30px;" #bo (keyup.enter)="onZoom(bo.value)" value="{{percentage}}">%
    <span class="end"></span>
  </mat-toolbar-row> 
  </mat-toolbar>



