


.mat-button {
  margin: 5px;
  /* height: 20px; */
  width: 20px;
}

.previous{
  transform: rotate(180deg)
}

.filler {
  flex: 1 auto;
}
.gap {
  margin-right: 12.5%;

}
.mat-button:hover {
  font-size: 20px;
}

.mat-icon-button:hover{
  font-size: 20px;
}


.runOcr{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.input{
  border: 2px pink solid;
  border-radius: 10px;
  height: 30px !important;
  color: black;
}

.mat-toolbar{
  display: flex; justify-content: space-around;
  z-index: 2;
    height: 50px !important;
    min-height: 50px !important; 
    position: fixed !important; 
    bottom: 2px !important; 
}
/* .flexItems{
  margin-left: 12.5%;
} */
.end{
  margin-left: 12.5%;
}

