


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: grey; */
  /* color: white; */
  text-align: center;
  height:30px;
}
input{

  border-radius:5px;
  height:75% !important;
  color: black;
}
label{
font-size: small;
}
.example-spacer{
  flex:5 auto;
}
.example-spacer1{
  flex:4 auto;
}
.example-spacer2{
  flex:1.5 auto;
}
.example-spacer4{
  flex:3.5 auto;
}
.example-spacer3{
  flex:.9 auto;

}
#fitWidth{
  transform: rotate(90deg);
}

#orginalsize{
  transform: rotate(45deg);
}




