<div class="footer" >
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button data-toggle="tooltip" title="First-Page"   [disabled]="previousImages" (click)="firstImage()" ><img src="assets/images/first_page.png" type="button"width="20px" height="20px"></button>
  <button data-toggle="tooltip" title="Previous-Page" [disabled]="previousImages" (click)="previousImage()" ><img src="assets/images/previous.jpeg" type="button"width="20px" height="20px"></button>
      <button data-toggle="tooltip" title="Next-Page" [disabled]="nextImages" (click)="NextImage()" ><img src="assets/images/next.png" type="button" width="20px" height="20px"></button>
      <button data-toggle="tooltip" title="Last-Page"  [disabled]="nextImages" (click)="lastImage()" ><img src="assets/images/last_page.png" type="button"width="20px" height="20px"></button>&nbsp;&nbsp;&nbsp;

    <button data-toggle="tooltip" title="Select Page" type="button" (click)="openModalDialog()">Select Page</button>&nbsp;&nbsp;&nbsp;
    <div class="backdrop" [ngStyle]="{'display':display}"></div>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox" id="skipPage" value="skipPage" ><label for="Skip Page"> Skip Page</label>

  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Rotate:<input style="width: 30px;" #box (keyup.enter)="onEnter(box.value)" value="{{angle}}">
  <div class="btn-group">
    <img src="assets/images/arrowup.png" (click)="rotateImage()" class="btn-group" type="button" style="height:10px;width: 10px;" ><br>
    <img src="assets/images/arrowdown.png" (click)="rotateImageanti()" class="btn-group" type="button" style="height:10px;width: 10px;">
  </div>

  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


  <button data-toggle="tooltip" title="Zoom-In" id = "butZoomIn" (click) = "zoomInFun()"><span><img src="assets/images/zoomIn.jpg" height="20px" width="20px"></span></button>
  <button data-toggle="tooltip" title="Zoom-Out" id = "butZoomOut" (click) = "zoomOutFun()"><span><img src="assets/images/zoomOut.jpg" height="20px" width="20px"></span></button>
  <button data-toggle="tooltip" title="Fit-width"  (click)="fitwidth()" ><img src="assets/images/fitwidth (1).png" height="19px" width="30px"></button>
  <button data-toggle="tooltip" title="Fit-height"  (click)="fitheight()" ><img src="assets/images/fitheight (1).png" height="19px" width="30px"></button>
  <button data-toggle="tooltip" title="100%-zoom"  (click)="orginalsize()" ><img src="assets/images/fitScrre (1).png" height="19px" width="30px"></button>
  zoom:<input style="width: 30px;" #bo (keyup.enter)="onZoom(bo.value)" value="{{percentage}}">%
</div>


  <script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>

