


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: grey; */
  /* color: white; */
  text-align: center;
  height:50px;
}
.example-spacer{
  flex:5 auto;
}
.example-spacer1{
  flex:3 auto;
}
.example-spacer2{
  flex:2 auto;
}
.example-spacer3{
  flex:.5 auto;

}

