{
  "env": {
    "JWT_KEY": "SECRET_HASH_KEY_FOR_JSON_WEBTOKEN",
    "OBJECT_STORAGE_ENDPOINT": "<object_storage_endpoint>",
    "OBJECT_STORAGE_ACCESS_KEY_ID": "<object_storage_access_key_id>",
    "OBJECT_STORAGE_SECRET_ACCESS_KEY": "<object_storage_secret_access_key>",
    "COUCH_DB_HOST": "<couch_db_hostname_port>",
    "COUCH_DB_ADMIN_USERNAME": "<couch_db_admin_username>",
    "COUCH_DB_ADMIN_PASSWORD": "<couch_db_admin_password>",
    "COUCH_DB_PROVIDER": "<couch_db_provider>",
    "RUN_OCR_ADDRESS": "http://<IP_ADDRESS>:<PORT>",
    "RUN_OCR_PORT": "<PORT>"
  }
}
