.mat-spinner {
  position: relative;
  margin-left: 50%;
  /* transform: translateX(-50%);
  transform: translateY(-50%); */
  margin-top: 50%;
}


.navbar {
    width: 100%;
    background-color: gainsboro;

  }

  .container{
    position: relative;

  }
  .btn-group button {

    height: 20px;

    color: white; /* White text */

    /* cursor: pointer; */
     /* Pointer/hand icon */

    display: block; /* Make the buttons appear below each other */
  }

  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }

  /* Add a background color on hover */
  /* .btn-group button:hover {
    background-color: #3e8e41;
  }
 */
 #wrapper {
  /* position:relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content{
  height: 700px;
  overflow: auto;
}
.modal-footer{
position: relative;
overflow:auto;

}
.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  color: blue
}

.container.img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
#text_input{
  margin: 0px !important;
  display: inline-block !important;
  padding: 0px !important;
}
/* div { position: relative; } */
#menu {
  position:absolute;
  display: none;
  width: fit-content;
  height: fit-content;
  background-color: none;
  z-index: 500;
  cursor: pointer;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* ::ng-deep .menu button {
  /* background-color: #4CAF50; */
  /* border: 1px solid green; */
  /* color:brown; */
  /* padding: 0px !important; */
  /* cursor: pointer; */
  /* display: inline-block; */
  /* outline: none; */
  /* margin: 0px !important; */
  /* border-width: solid; */
/* } */

/* button[disabled] { */
  /* filter: blur(1px); */
  /* cursor: not-allowed; */
/* } */
.dropdown-content {
  /* display: none; */
  position: relative;
  background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  /* z-index: 1;  */
}



.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  /* height: 40px; */
  padding-bottom: 0px;
  padding-top:0px
}
.list {
  display: none;
}
.link:hover + .list {
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}