<script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
<mat-toolbar>
  <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"
    accept="image/*">
  
  <button mat-icon-button data-toggle="tooltip" (click)="fileUpload.click()" title="Upload Image"><img src="assets/images/open_file.svg"
      type="button" width="20px" height="20px"></button>
  <input #folderUpload type="file" name="fileList" (click)="folderUpload.value = null" webkitdirectory multiple
    (change)="importFile($event)" style="display:none" />
  <button mat-icon-button  color="primary"  data-toggle="tooltip" title="Upload Directory" (click)="folderUpload.click()"><img
      src="assets/images/open_folder.svg" type="button" width="20px" height="20px"></button>
  <button  mat-icon-button color="primary"  data-toggle="tooltip"   title="vertcal View" (click)="asVertical()"
    [disabled]="nextImage"><img src="assets/images/horizontal_screen.svg" class="vertical" type="button" width="20px" height="20px"></button>
  <button mat-icon-button color="primary"  data-toggle="tooltip" title="Horizontal View" (click)="asHorizontal()"
    [disabled]="nextImage"><img src="assets/images/horizontal_screen.svg" type="button" width="20px" height="20px"></button>
    <button mat-icon-button color="primary"  data-toggle="tooltip" title="Select Block" (click)="selectBlock()" class="xmlButton" id="buttonXml"><img src="assets/images/select_block.svg"
      type="button" width="20px" height="20px"></button>
  <button id="SaveToXML" (click)="onSave()">SaveToXML</button>
  <button mat-icon-button  color="primary"   (click)="onSaveXml()"><img
    src="assets/images/download.svg"  type="button" width="20px" height="20px"></button>
  <button id="blockno" (click)="blockupdate()">blocknumberupdate</button>
  <button  mat-icon-button color="primary"  data-toggle="tooltip" title="Save Corrections" (click)="correctionUpdate()"><img
    src="assets/images/saved-icon.jpg" type="button" width="20px" height="20px"></button>
    <!-- <button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button> -->
  
</mat-toolbar>



  <as-split class="split"  [style.height.px]="this.myHeight" [direction]=value>
    <as-split-area id="content" [lockSize]=true class="split1"
      (scroll)="updateScroll(scrollOne, scrollTwo)" #scrollOne>
      <img [src]="localUrl" *ngIf="localUrl && !isLoading" id="imgToRead" class="imgToRead" />
     <div class="topleft" *ngIf="!isLoading"><h5>{{ fileName }}</h5></div>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
   </as-split-area>
    <as-split-area class="split2" (scroll)="updatescroll(scrollOne, scrollTwo)" #scrollTwo>
      <mat-divider [vertical]="true"></mat-divider>
      <div id="image" [style.position]="'relative'">
        <span *ngFor="let text of words;let i = index">
          <input  (ctrls)="showTooltip($event)" class="text_input" id = "{{text.lineNumber}}" value = "{{text.unicode}}"  [style.width.px]="text.txtwidth*(this.percentage/100)" [style.position]="'absolute'" [style.border]="'none'" [style.font-size.px]="text.txtheight*5/8*(this.percentage/100)"
          [style.top.px]="text.lineRowStart*(this.percentage/100)"   [style.left.px]="text.lineColStart*(this.percentage/100)"   [style.margin-inline-start.px]="text.lineRowStart*(this.percentage/100)"   [style.height.px]="text.txtheight*(this.percentage/100)" >
        </span>
      </div>
    </as-split-area>
  </as-split>




<app-footer></app-footer>


 
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
  
    


<div  id="menu">
  <div class="dropdown-content" (clickOutside)="closeMenu()">
    <a  (click)="asHorizontal()">prose (..from prev page/block)</a>
    <a   (click)="asVertical()" >Header</a>
    <a>Figure Caption</a>
    <a>Retain Graphic</a>
    <a >Retain Graphic-Rotate</a>
    <a>Retain graphic -Full page</a>
    <a >Ignore Graphic</a>
    <a >Part Heading</a>
    <a >Chapter heading</a>
    <a >section heading</a>
    <a >Front Matter heading</a>
    <a>prose</a>
    <a>poem</a>
    <a>poem(..from prevpage/block)</a>
    <a>Book Name in Kannd</a>
  </div>

</div>

<div class="modal" id="HI" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please select the page that you want to be displayed:</h4>
      </div>
      <div>
        <div class="modal-body" style="width: 90%;" (click)="openThisImage($event)"></div>
      </div>
      <div class="modal-footer">
        <button  mat-flat-button  color="warn"  type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>
