<script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<mat-toolbar color="primary" >

  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer1"></span>
  <button  mat-icon-button id="firstImg" data-toggle="tooltip" title="First-Page" [disabled]="previousImages" (click)="firstImage()" >  <mat-icon>first_page</mat-icon></button>
  <button mat-icon-button id="previousImg" data-toggle="tooltip" title="Previous-Page" [disabled]="previousImages"(click)="previousImage()"><mat-icon>navigate_before</mat-icon></button>
<button mat-icon-button id="nextImg" data-toggle="tooltip" title="Next-Page" [disabled]="nextImages" (click)="NextImage()"> <mat-icon>navigate_next</mat-icon></button>
<button mat-icon-button id="lastImg" data-toggle="tooltip" title="Last-Page" [disabled]="nextImages" (click)="lastImage()"> <mat-icon>last_page</mat-icon></button>
  <span class="example-spacer3"></span>
  <!-- <button mat-stroked-button  data-toggle="tooltip" title="Select Page" (click)="openModalDialog()" id="SelectPage" > <mat-icon  >toc</mat-icon></button>
  <div class="backdrop" [ngStyle]="{'display':display}"></div> -->
  <!-- <input type="checkbox" id="skipPage" value="skipPage"><label for="Skip Page"> Skip Page</label> -->

  <span class="example-spacer2"></span>



  <!-- <div class="btn-group">
   <button mat-icon-button color="accent" class="arrowup" style="height:15px;width:30px;"(click)="rotateImage()"> <mat-icon>arrow_drop_up</mat-icon></button>
     <img src="assets/images/arrow_drop_up-24px.svg" (click)="rotateImage()" title="rotate" class="btn-group" type="button" -->
      <!-- style="height:20px;width: 30px;"> -->
      <!-- <br>
      <button mat-icon-button color="accent" class="arrowdown" style="height:15px;width:30px;" (click)="rotateImageanti()">  <mat-icon>arrow_drop_down</mat-icon></button> -->
    <!-- <img src="assets/images/arrow_drop_down-24px.svg" (click)="rotateImageanti()" class="btn-group" type="button"
      style="height:20px;width: 30px; "> -->
  <!-- </div> -->

  <span class="example-spacer3"></span>
  <button mat-stroked-button  (click)="loadXMLDoc()"  title="Run-OCR" >Run-OCR</button>

 <span class="example-spacer"></span>


 <label>Rotate:</label><input id="angle"  type="number" class="angleclass" style="width: 45px;height:100%;color:black;  " #box (keyup.enter)="onEnter(box.value)" value="{{angle}}">
  <button mat-icon-button data-toggle="tooltip" title="Zoom-In" id="butZoomIn" (click)="zoomInFun()"> <mat-icon >zoom_in</mat-icon></button>
  <button mat-icon-button data-toggle="tooltip" title="Zoom-Out" id="butZoomOut" (click)="zoomOutFun()"> <mat-icon >zoom_out</mat-icon></button>
  <button mat-icon-button data-toggle="tooltip" title="Fit-width" id="fitWidth" (click)="fitwidth()"><mat-icon >height</mat-icon>
</button>
  <button mat-icon-button data-toggle="tooltip" title="Fit-height" id="fitHeigth" (click)="fitheight()"><mat-icon >height</mat-icon></button>
  <button mat-icon-button data-toggle="tooltip" title="100%-zoom" id="100zoom" (click)="orginalsize()"><mat-icon >zoom_out_map</mat-icon></button>
  <label for="zoom">zoom:</label><input id="zoom" style="width: 45px;height:100%;color:black;" #bo (keyup.enter)="onZoom(bo.value)" value="{{percentage}}">%


  <span class="example-spacer2"></span>


  <button mat-icon-button   [matMenuTriggerFor]="user"><mat-icon >account_circle</mat-icon></button>
  <mat-menu #user="matMenu">
    <div mat-menu-item *ngIf="userIsAuthenticated">
    <h5> {{ userName }}</h5>
 </div>
 <br>
 <div  mat-menu-item *ngIf="userIsAuthenticated">
    <button mat-stroked-button (click)="onLogout()" ><h5>Logout</h5></button>
 </div></mat-menu>
  <button mat-icon-button><mat-icon >help_outline</mat-icon></button>

  <mat-menu #menu="matMenu">
    <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"
    accept="image/*">
  <button mat-icon-button color="accent" data-toggle="tooltip" (click)="fileUpload.click()" title="Upload Image" style=" margin-right:3px;" class="screenicon"><mat-icon  >text_snippet</mat-icon></button>


  <button mat-icon-button data-toggle="tooltip" (click)="fileUpload.click()" title="Upload Image"><img src="assets/images/open_file.svg"
      type="button" width="20px" height="20px"></button>
    <div id = "snackbar">{{ invalidMessage }}</div>
  <input #folderUpload type="file" name="fileList" (click)="folderUpload.value = null" webkitdirectory multiple
    (change)="importFile($event)" style="display:none" />
  <button mat-icon-button color="accent" data-toggle="tooltip" title="Upload Directory" style="margin-right:3px;" class="screenicon" (click)="folderUpload.click()">
    <mat-icon  >folder_open</mat-icon> </button>


  <button mat-icon-button color="accent" data-toggle="tooltip" title="vertcal View"  style="margin-right:3px;" class="screenicon" id="vertical_view"(click)="asVertical()"
    [disabled]="nextImage"><mat-icon  >vertical_split</mat-icon></button>

  <button mat-icon-button color="accent" data-toggle="tooltip" title="Horizontal View" style="margin-right:3px;" class="screenicon" (click)="asHorizontal()"
    [disabled]="nextImage"><mat-icon  >horizontal_split</mat-icon></button>

    <button mat-icon-button color="accent" data-toggle="tooltip" title="Select Block" (click)="selectBlock()" style="margin-right:3px;" class="screenicon"  id="buttonXml"><mat-icon  >crop_5_4</mat-icon></button>


  <button mat-icon-button color="accent" class="screenicon"(click)="onSaveXml()"><mat-icon  >get_app</mat-icon></button>

    <!-- <button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button> -->
  </mat-menu>
  <button id="blockno" (click)="blockupdate()">blocknumberupdate</button>
  <button id="SaveToXML" (click)="onSave()">SaveToXML</button>
</mat-toolbar>


<as-split class="split"  [style.height.px]="this.myHeight" [direction]=value>
  <as-split-area id="content"   class="split1" (scroll)="updateScroll(scrollOne, scrollTwo)" #scrollOne>
        <as-split class="sideNav" id="Sidenav" direction="horizontal">
           <as-split-area [lockSize]=true [size]=sidesize1>
            <div >
            <mat-toolbar style="width: 100%; text-align: center;">
            <h6>select the page</h6>
            <span class="filler"></span>
            <button mat-icon-button class="sideBar"  color="accent" title="view Image List" (click)="sideClose()"><img src="assets/images/close.svg"  type="button" width="20px" height="20px"></button>
            </mat-toolbar>
            <div class="sideBody">
            <div style="width: 90%;" (click)="openThisImage($event)"></div>
            </div>
           </div>
           </as-split-area>


           <as-split-area [size]=sidesize2>
            <img [src]="localUrl" *ngIf="localUrl && !isLoading" id="imgToRead" class="imgToRead" />
            <div class="topleft" *ngIf="!isLoading"><h5>{{ fileName }}</h5></div>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <button mat-icon-button class="sidebar1"  color="primary" (click)="sideOpen()"><img src="assets/images/left.svg"  type="button" width="20px" height="20px"></button>
            </as-split-area>
          </as-split>
 </as-split-area>

  <as-split-area class="split2" [size]=size3 (scroll)="updatescroll(scrollOne, scrollTwo)" #scrollTwo>
    <div id="image" [style.position]="'relative'">
      <span *ngFor="let text of words;let i = index">
        <input  (ctrls)="showTooltip($event)" class="text_input" id = "{{text.lineNumber}}" value = "{{text.unicode}}"  [style.width.px]="text.txtwidth*(this.percentage/100)" [style.position]="'absolute'" [style.border]="'none'" [style.font-size.px]="text.txtheight*5/8*(this.percentage/100)"
        [style.top.px]="text.lineRowStart*(this.percentage/100)"   [style.left.px]="text.lineColStart*(this.percentage/100)"   [style.margin-inline-start.px]="text.lineRowStart*(this.percentage/100)"   [style.height.px]="text.txtheight*(this.percentage/100)" >
      </span>
    </div>
  </as-split-area>
</as-split>


<!-- <app-footer></app-footer> -->



<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>



<app-footer></app-footer>

<div  id="menu">
  <div class="dropdown-content" (clickOutside)="closeMenu()">
    <a  (click)="asHorizontal()">prose (..from prev page/block)</a>
    <a   (click)="asVertical()" >Header</a>
    <a>Figure Caption</a>
    <a>Retain Graphic</a>
    <a >Retain Graphic-Rotate</a>
    <a>Retain graphic -Full page</a>
    <a >Ignore Graphic</a>
    <a >Part Heading</a>
    <a >Chapter heading</a>
    <a >section heading</a>
    <a >Front Matter heading</a>
    <a>prose</a>
    <a>poem</a>
    <a>poem(..from prevpage/block)</a>
    <a>Book Name in Kannd</a>
  </div>

</div>

<div class="modal" id="HI" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please select the page that you want to be displayed:</h4>
      </div>
      <div>
        <div class="modal-body" style="width: 90%;" (click)="openThisImage($event)"></div>
      </div>
      <div class="modal-footer">
        <button  mat-flat-button  color="warn"  type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>
