/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */


  /* body{
    margin: 0%;
    position: relative !important;
    overflow: auto;
} */
.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
