.contentBar{
  padding-top:33px;
}

dialog{
  padding-top:23px;
}

.cdk-overlay-pane.my-dialog {
  position:absolute!important;
}
.listcontent{

  left:.5em;
  right:.5em;
  position: absolute;
  top: 3em;
  bottom: 3em;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}


.heading{
  position: absolute;
  top: 0;
  padding-left: 20px;
}

.mat-toolbar {
  min-height: 30px !important;
  height: 30px !important;
}

.dialogbar{
  position: absolute;
  top: 0;
  width:100%;
  left:0;
}

.example-spacer1 {
  flex: 3 auto;
}

.dialog{
  padding-top:25px;
}
