<mat-toolbar class="dialogbar" color="primary">
    <h4 class="heading">Run-OCR Progress</h4>
    <span class="example-spacer1"></span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<div class="contentBar" *ngFor="let progressInfo of progressInfos">
    <li>{{ progressInfo.fileName }}----{{ progressInfo.value }}</li>
</div>

<mat-dialog-actions align="end">
    <!-- <button id="pauseButton" color="primary" mat-button (click)="pauseOcrRun()">Pause</button>
    <button color="primary" mat-button>Cancel</button> -->
</mat-dialog-actions>