<mat-toolbar class="dialogbar" color="primary">
  <h4 class="heading">Progress</h4>
  <span class="example-spacer1"></span>
  <button id="closeButton" mat-icon-button (click)="cancel()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="dialog">
  <ol class="listcontent">
    <div *ngFor="let progressInfo of progressInfos">
      <li>{{ progressInfo.fileName }} ----- {{ progressInfo.value }}</li>
    </div>
  </ol>
</div>

<div style="bottom:15px" color="primary" class="success" *ngIf="uploadMessage">{{ uploadMessage }}</div>
&nbsp;&nbsp;
<mat-dialog-actions align="end">
  <div style=" position: absolute;height: 3em;bottom:1px;">
    <button id="pauseButton" color="primary" mat-button (click)="pauseOcrRun()" value="Pause">Pause</button>
    <button id="cancelButton" color="primary" mat-button [mat-dialog-close]="true" (click)="cancel()">Cancel</button>
  </div>
</mat-dialog-actions>
